html, body {
	background-image: linear-gradient(to top right, #f0ffff, #fff0f0);
	height: auto;
	margin: 0;
}

header {
	background: rgba(255,255,255,0.9);
	color: black;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
	padding: 10px;
	padding-left: 15px;
	margin-bottom: 10px;
	position: sticky;
	top: 0;
	z-index: 1;
}

header > h1 {
	margin: 0px;
}

.card-holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background: white;
	border-radius: 20px;
	overflow: hidden;
	width: 250px;
	height: 300px;
	margin: 20px;
	box-shadow: 0 10px 80px rgba(0,0,0,0.2);
	transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
	transform: scale(1.05,1.05);
	box-shadow: 0 40px 80px rgba(0,0,0,0.3);
}

.card-image {
	height: 50%;
	background: #222 url(logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-text {
	height: 50%;
	padding: 10px;
}
